.App {
  text-align: center;
}

.img1 {
  background-image: url('https://cf.shopee.ph/file/6ec56cf828e2ac7326dc6484cff87df4');
  background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-position: center;
    left: 0.5%;
    height: 197px;
    width: 141px;
    border-radius: 23px;
}

.img2 {
  background-image: url('https://cf.shopee.ph/file/6ec56cf828e2ac7326dc6484cff87df4');
  background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-position: center;
    right: 0.5%;
    height: 197px;
    width: 141px;
    border-radius: 23px;
}

@media (max-width: 450px) {
  .img1 {
    background-image: url('https://cf.shopee.ph/file/6ec56cf828e2ac7326dc6484cff87df4');
    background-repeat: no-repeat;
      position: absolute;
      background-size: cover;
      background-position: center;
      left: 0.5%;
      height: 90px;
      width: 56px;
      border-radius: 23px;
  }
  
  .img2 {
    background-image: url('https://cf.shopee.ph/file/6ec56cf828e2ac7326dc6484cff87df4');
    background-repeat: no-repeat;
      position: absolute;
      background-size: cover;
      background-position: center;
      right: 0.5%;
      height: 90px;
      width: 56px;
      border-radius: 23px;
  }
}


@media (max-width: 340px) {
  .img1 {
    background-image: url('https://cf.shopee.ph/file/6ec56cf828e2ac7326dc6484cff87df4');
    background-repeat: no-repeat;
      position: absolute;
      background-size: cover;
      background-position: center;
      left: 0.5%;
      height: 72px;
      width: 45px;
      border-radius: 23px;
  }
  
  .img2 {
    background-image: url('https://cf.shopee.ph/file/6ec56cf828e2ac7326dc6484cff87df4');
    background-repeat: no-repeat;
      position: absolute;
      background-size: cover;
      background-position: center;
      right: 0.5%;
      height: 72px;
      width: 45px;
      border-radius: 23px;
  }
}





